{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div class="container">
<h1 class="text-success">Admin Dashboard</h1>
<p>Welcome{{user.username}} to the admin dashboard!</p>

<h2 class="text-primary text-center">Products List</h2>
<table class="table table-info table-striped boadered table-hover table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for product in products %}
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td><img src="{{ product.image.url }}" alt="{{ product.name }}" width="100"></td>
            <td>
           <a href="{% url 'update' product.id %}" class="btn btn-warning">UPDATE</a>
            <!-- <a href="{% url 'delete' product.id %}" class="btn btn-danger">DELETE</a> -->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Mymodal{{ product.id }}">
                DELETE
            </button>
            </td>
        
        </tr>
       {% endfor %}
    </tbody>
</table>
{% for product in products %}
 
<!-- Modal -->
<div class="modal fade" id="Mymodal{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{ product.name }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <a href="{% url 'delete' product.id %}" class="btn btn-danger">DELETE</a> 
      </div>
    </div>
  </div>
</div>
 {% endfor %}
</div>



{% endblock %}